.licensing-options {
    margin-top: 20px;
    padding: 20px;
    width: 100%; /* Ensures it takes up 100% width */
    box-sizing: border-box; /* Prevents padding from affecting the width */
    text-align: left;
  }
  
  .licensing-options h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .licensing-options hr {
    border: 1px solid gray;
    margin-bottom: 20px;
  }
  
  .licensing-options .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .licensing-options .column {
    width: 48%;  /* Each column takes approximately half of the row's width */
  }
  
  .licensing-options .column label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  
  .licensing-options .column select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .licensing-options .column p {
    margin-top: 5px;
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-license {
    margin-top: 15px;
  }
  
  .custom-license textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  .custom-license textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .full-width {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .full-width-column {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .publication-textarea {
    width: 100%;
    resize: vertical;
  }
  
  