.methodological-details {
    padding: 20px;
    margin-top: 20px;
    max-width: 900px; 
    width: 100%; /* Ensures it takes up 100% width */
    box-sizing: border-box; /* Prevents padding from affecting the width */
    text-align: left; /* Align content to the left */
    background-color: #fff;
  }
  
  .methodological-details h2 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .methodological-details hr {
    border: 1px solid gray;
    margin-bottom: 20px;
  }
  
  .field {
    color: black;
    margin-bottom: 20px;
  }
  
  .field label {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    margin-top: 50px;
  }

  .methodological-details .field label {
    color: black !important;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button-group {
    margin-top: 20px;    
  }
  
  .button-group button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #D6AB00;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  .button-group button:hover {
    background-color: #D6AB00;
  }
  
  .software-fields {
    margin-top: 10px;
  }
  
  .software-field {
    margin-bottom: 10px;
  }
  
  .software-field label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .software-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .contributors {
    margin-top: 30px;
  }
  
  .contributors .row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .contributors .column {
    width: 40%;
  }
  
  .contributors .column select,
  .contributors .column input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  